<form (ngSubmit)="onSubmit()">
  <div>
    <input
      class="form-control my-2"
      type="text"
      placeholder="Name"
      name="name"
      [(ngModel)]="product.name"
    />
  </div>
  <div>
    <input
      class="form-control my-2"
      type="text"
      placeholder="Description"
      name="description"
      [(ngModel)]="product.description"
    />
  </div>
  <div>
    <input
      class="form-control my-2"
      type="number"
      placeholder="Price"
      name="price"
      [(ngModel)]="product.price"
    />
  </div>
  <div>
    <button class="btn btn-primary my-2">
      {{ product.id > 0 ? "Actualizar" : "Crear" }}
    </button>
  </div>
</form>
